.img-logo {
  max-height: 55px;
}

body,.promo-box {
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI",
    Tahoma, Arial, sans-serif;
  color: black;
  background-color: #f4ede3;
}
.container {
  max-width: 1420px;
  padding: 0;
}

a {
  color: black;
  font-size: 15px;
  font-weight: 700;
}
.nav-link:hover {
  color: black;
  text-decoration: underline;
}
.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}
.header-dropdown {
  width: 220px;
}
.dropdown-item:hover {
  color: white;
  background-color: #1264a3;
}

.btn-outline-success {
  padding: 12px 16px 12px 16px;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #611f69;
  border-radius: 5px;
  text-transform: uppercase;
  color: #611f69;
}

.btn-outline-success:hover {
  background-color: #f4ede3;
  border: 1px solid #611f69;
  color: #611f69;
}

.btn-fill-color {
  color: white;
  background-color: #611f69;
}

.btn-fill-color:hover {
  color: white;
  background-color: #611f69;
}
.promo-fill-btn {
  padding: 20px 40px;
}

.promo-glg-btn{
  background-color: #4285f4;
  padding-top: 28px;
  padding-right: 28px;
  border: 1px solid #4285f4;
  margin-left: 10px;
}

.promo-glg-btn:hover{
  background-color: #4285f4;
}
.promo-box {
  background-color: #f4ede3;
}
.card-title {
  font-weight: 700;
  font-size: 32px;
}
.card-text {
  font-size: 18px;
}

.promo-body {
  max-width: 500px;
  padding: 0;
}
.promo-text >h2{
  font-size: 64px;
}
.card{
  border:none;
}



.company-logo {
  height: 30px;
  margin: 90px 0px 60px 0px;
}

.align-vert{
  flex: auto;
  align-items: center;
}



@media only screen and (max-width: 1200px) {
  .navbtn-empty {
    visibility: hidden;
    margin: 0;
    padding: 0;
    width: 0;
  }

  .media-btns{
    display: block;
    width: 100%;

    margin:10px 0px;
  }

  
}

@media only screen and (max-width: 780px) {
  .row {
    margin: 0 auto;
  
  }
  .promo-body{
    margin: 0 auto;
    max-width: none;
  }
  
}


